<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productcompany</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="container">
            <form action="<%= productcompany.url %>" method="post">
                <div class="mb-3">
                  <label class="form-label">ProductCode</label>
                  <input type="text" value="<%= productcompany.ProductCode %>" name="ProductCode" class="form-control" >   
                </div>       
                <div class="mb-3">
                    <label class="form-label">ProductName</label>
                    <input type="text" value="<%= productcompany.ProductName %>" name="ProductName" class="form-control" >   
                  </div>   
                  <div class="mb-3">
                    <label class="form-label">ProductData</label>
                    <input type="date" value="<%= productcompany.ProductData %>" name="ProductData" class="form-control" >   
                  </div>   
                  <div class="mb-3">
                    <label class="form-label">ProductOriginPrice</label>
                    <input type="number" value="<%= productcompany.ProductOriginPrice %>" name="ProductOriginPrice" class="form-control" >   
                  </div>   
                  <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input type="text" value="<%= productcompany.Quantity %>" name="Quantity" class="form-control" >   
                  </div>   
                  <div class="mb-3">
                    <label class="form-label">ProductStoreCode</label>
                    <input type="text" value="<%= productcompany.ProductStoreCode %>" name="ProductStoreCode" class="form-control" >   
                  </div>   
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </section>
</body>
</html>
